apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: "{{ kube_version }}"
apiServer:
    certSANs:
    - "{{ load_balancer_dns }}"
controlPlaneEndpoint: "{{ load_balancer_dns }}:{{ load_balancer_port | default(443) }}"
{% if pod_subnet is defined %}
networking:
    # This CIDR is a calico default. Substitute or remove for your CNI provider.
    podSubnet: "{{ pod_subnet }}"
{% endif %}
